@model Ayda.Ecommerce.ShareModels.EcommerceDto.Product.ProductDto
@{
    ViewData["Title"] = "جزئیات محصول";
}
<partial name="_Notification" />
<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">جزئیات محصول</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="/Admin">
                        <i class="fas fa-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="/admin/product/index" onclick="return false;">فروشگاه</a>
                </li>
                <li class="breadcrumb-item active">جزئیات محصول</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="block-header">
                    <div class="row justify-content-end">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="btn-group" style="margin-right: 8rem;">
                                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-cogs"></span>&nbsp;تنظیمات
                                </button>
                                <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    <li>
                                        <a onclick="AddImageToGallery('@Model.Id')" class="dropdown-item text-left text-left"><i class="fa fa-images"></i>&nbsp;افزودن تصویر به گالری </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <button onclick="AddAttribute('@Model.Id')" class="dropdown-item text-left"><i class="fas fa-align-right"></i>&nbsp;افزودن مشخصات</button>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <button onclick="AddColor('@Model.Id')" class="dropdown-item text-left"><i class="fas fa-cookie-bite text-info"></i>&nbsp;افزودن رنگ  </button>
                                    </li>
                                    <li role="separator" class="divider"></li>

                                    <li>
                                        <button onclick="ChangeIsShow('@Model.Id')" class="dropdown-item text-left"><i class="fas fa-tv"></i>&nbsp;تغییر نحوه نمایش </button>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <button onclick="ChangeShowInHome('@Model.Id')" class="dropdown-item text-left"><i class="fa fa-home"></i>&nbsp;تغییر نمایش در خانه </button>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <button onclick="DiscountProductModal('@Model.Id')" class="dropdown-item text-left"><i class="fas fa-chart-line"></i>&nbsp; تبدیل به محصول تخفیفی</button>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <button onclick="ChangeIsSotial('@Model.Id')" class="dropdown-item text-left"><i class="fas fa-chess-queen"></i>&nbsp;تبدیل به محصول ویژه</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="product-store">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="product-gallery">
                                    <div class="product-gallery-thumbnails">
                                        <ol class="thumbnails-list list-unstyled">
                                            @if (Model.ProductImages.Count > 0) {
                                                <li><img src="~/@Model.ImageCoverPath.Trim('\\')" alt=""></li>
                                                foreach (var i in Model.ProductImages) {
                                                    <li>
                                                        <img src="~/@i.ImagePath.Trim('\\')" alt="">
                                                    </li>
                                                }
                                            } else {
                                                <li><img src="~/@Model.ImageCoverPath.Trim('\\')" alt=""></li>
                                            }
                                        </ol>
                                    </div>
                                    <div class="product-gallery-featured">
                                        <img src="~/@Model.ImageCoverPath.Trim('\\')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="product-payment-details">
                                    <p class="last-sold text-muted"><small>145 مورد فروخته شد</small></p>
                                    <h4 class="product-title mb-2">@Model.Name</h4>
                                    <h2 class="product-price display-4">@Model.Price.ToString("#,##") تومان</h2>
                                    <p>
                                        <i class="fa fa-flash text-success"></i>
                                        @if (Model.IsSotialProduct) {
                                            <strong>محصول ویژه است</strong>
                                        } else {
                                            <strong>محصول ویژه نیست</strong>
                                        }
                                    </p>
                                    <p>
                                        <i class="fa fa-comment col-cyan"></i>
                                        @if (Model.AllowCustomerComment) {
                                            <strong>اجازه نظر دارد</strong>
                                        } else {
                                            <strong>اجازه نظر ندارد</strong>
                                        }

                                    </p>
                                    <p>
                                        <i class="fa fa-film col-red"></i>
                                        @if (Model.ShowOnHomepage) {
                                            <strong>نمایش در خانه</strong>
                                        } else {
                                            <strong>نمایش فقط در صفحه فروشگاره</strong>
                                        }
                                    </p>
                                    <p>
                                        <i class="fa fa-chart-line text-success"></i>
                                        @if (Model.Count == 2 || Model.Count == 1) {
                                            <strong>محصول در حال اتمام است</strong>
                                        }  @if (Model.Count < 1) {
                                            <strong>محصول تمام شده است لطفا انبار را شارژ کنید</strong>
                                        }  @if (Model.Count > 2) {
                                            <strong>محصول موجود است</strong>
                                        }
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fas fa-cookie-bite text-info"></i>
                                            <strong>رنگهای موجود :</strong>
                                        </p>
                                        @if (Model.ProductColors.Any() || Model.ProductColors.Count > 0) {
                                            foreach (var c in Model.ProductColors) {
                                                <button type="button" class="btn  btn-circle waves-effect waves-circle waves-float" style="background-color: @c.ColorHex ;">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            }

                                        } else {
                                            <p>برای محصول فعلا رنگی مشخص نشده است</p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation">
                        <a href="#attr-list" data-toggle="tab" class="active">ویژگی ها</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" data-toggle="tab" class="">توضیحات</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" data-toggle="tab" class="show">پرسش و پاسخ</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="attr-list">
                        <div class="product-description">
                            <p class="mb-2">ویژگی ها</p>
                            @if (Model.ProductAttributes.Any()) {
                                <table class="table table-bordered table-striped table-hover">
                                    <tr>
                                        <td>عنوان مشخصه</td>
                                        <td>مقدار مشخصه</td>
                                        <td>عملیات</td>
                                    </tr>
                                    @foreach (var a in Model.ProductAttributes) {
                                        <tr>
                                            |
                                            <td>@a.CategoryAttribute.Name</td>
                                            <td>@a.AttributeValue</td>
                                            <td>
                                                <button type="button" class="btn bg-light-blue btn-circle waves-effect waves-circle waves-float">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn bg-deep-orange btn-circle waves-effect waves-circle waves-float">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            } else {
                                <p>فاقد مشخصات است یا ادمین مشخصاتی برای این محصول اضافه نکرده است</p>
                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <div class="product-description">
                            <h2 class="mb-5">توضیحات</h2>
                            <p>
                                @Html.Raw(Model.ShortDescription)
                            </p>
                            <p>
                                @Html.Raw(Model.FullDescription)
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="messages">
                        <b>پرسش و پاسخ</b>
                        <div class="product-faq mb-5">
                            <p class="text-muted">چه اطلاعاتی نیاز دارید؟</p>
                        </div>
                        <div class="product-comments">
                            <h5 class="mb-2">یا از فروشگاه دیوید بخواهید</h5>
                            <form class="form-inline mb-5">
                                <textarea cols="50" rows="2" class="form-control mr-4" placeholder="یک سوال بنویس"></textarea><button class="btn btn-lg btn-primary">پرسیدن</button>
                            </form>
                            <h5 class="mb-5">آخرین سوالات</h5>
                            <ol class="list-unstyled last-questions-list">
                                <li><i class="fa fa-comment"></i> <span>سلام دیوید، آیا می توانم با کارت اعتباری پرداخت کنم؟</span></li>
                                <li><i class="fa fa-comment"></i> <span>آیا می توانم آن را به آدرس دیگری ارسال کنم؟</span></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        //carousel
        (function ($) {
            "use strict";

            // select all thumbnails
            const galleryThumbnail = document.querySelectorAll(".thumbnails-list li");
            // select featured
            const galleryFeatured = document.querySelector(".product-gallery-featured img");

            // loop all items
            galleryThumbnail.forEach((item) => {
                item.addEventListener("mouseover", function () {
                    let image = item.children[0].src;
                    galleryFeatured.src = image;
                });
            });

            // show popover
            $(".main-questions").popover('show');

        })(jQuery);
        //add Images
        function AddImageToGallery(productId) {
            $('#add_image_productId').val(productId);
            $('#AddImage').modal('show');
        }
        //add atribute
        function AddAttribute(productId) {
            $('#add_attr_productId').val(productId);
            $('#AddProductAttr').modal('show');
        }
        //add color
        function AddColor(productId) {
            $('#add_color_productId').val(productId);
            $('#AddColorModal').modal('show');
        }
        //change is show
        function ChangeIsShow(p) {
            swal.fire({
                title: 'مخفی / نمایش محصول',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': p
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/ChangeIsShow/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //change show in home page
        function ChangeShowInHome(p) {
            swal.fire({
                title: 'مخفی / نمایش محصول در صفحه اصلی',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': p
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/ChangeShowInHomePage/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Change Discount
        function DiscountProductModal(productId) {
            $('#add_discount_productId').val(productId);
            $('#DiscountModal').modal('show');
        }
        function ChangeDiscount() {
            swal.fire({
                title: 'تبدیل محصول به محصول تخفیف دار',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': $('#add_discount_productId').val(),
                        'lable': $('#add_discount_lable').val(),
                        'flag': $('#add_discount_flag').val(),
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/YesOrNoProductDiscount/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //change sotial
        function ChangeIsSotial(p) {
            swal.fire({
                title: 'تعیین ویژه بودن محصول',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': p
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/ChangeIsSotial/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
    </script>
}
@section Modals
    {
    <div class="modal" id="AddImage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light-blue waves-effect">
                    <h5 class="modal-title text-white">ثبت تصوبر در گالری محصول</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/admin/Product/AddImageToGallery" enctype="multipart/form-data">
                        <input type="hidden" name="ProductId" id="add_image_productId" />

                        <div class="form-group">
                            <label>Alt Attribute &nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="AltTagAttribute" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Title Attribute &nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="TitleTagAttribute" class="form-control">
                            </div>
                        </div>
                        <label>لوگو دسته</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="file" name="Image" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <br> <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddProductAttr" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light-green waves-effect">
                    <h5 class="modal-title text-white">ثبت ثبت مشخصات جدید برای محصول&nbsp;<span class="badg bg-info" id="parent-name"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/admin/product/AddProductAttribute">
                        <input type="hidden" name="ProductId" id="add_attr_productId" />
                        <div class="form-group">
                            <div class="form-line">
                                <label>لیست مشخصات</label>
                                <select class="browser-default valid" asp-items="@ViewBag.Attribute" name="AttributeId">
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>مقدار مشخصه&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="AttributeValue" class="form-control" placeholder="مقدار مشخصه را وارد کنید">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddColorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-orange waves-effect">
                    <h5 class="modal-title text-white">اضافه کردن رنگ برای محصول&nbsp;<span class="badg bg-info" id="parent-name"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/admin/product/AddProductColor">
                        <input type="hidden" name="ProductId" id="add_color_productId" />
                        <div class="form-group">
                            <label>عنوان رنگ&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="ColorName" id="edit_catName" class="form-control" placeholder="برای شناسایی نام رنگ را وارد کنید">
                            </div>
                        </div>

                        <div class="form-group">

                            <label> رنگ&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="color" name="ColorHex" class="form-control-color">
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="DiscountModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-orange waves-effect">
                    <h5 class="modal-title text-white">اضافه کردن محصول به لیست تخفیفات&nbsp;<span class="badg bg-info" id="parent-name"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="add_discount_productId" />
                    <div class="form-group">
                        <div class="form-line">
                            <label>محصول تبدیل به :</label>
                            <select class="browser-default valid" id="add_discount_flag">
                                <option value="true">تخفیف دار</option>
                                <option value="false">معمولی</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>عنوان تخفیف&nbsp;<i class="text-danger">*</i></label>
                        <div class="form-line">
                            <input type="text" name="ColorName" id="add_discount_lable" class="form-control" placeholder="برای نمایش روی لیبل تخفیف">
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button onclick="ChangeDiscount()" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
