@addTagHelper *, LazZiya.TagHelpers
@using Ayda.Ecommerce.Utilities
@using Ayda.Ecommerce.ShareModels.Ordering
@model Ayda.Ecommerce.ShareModels.BaseModel.GetForAdmin<Ayda.Ecommerce.ShareModels.Ordering.OrderDto>
@{
    ViewData["Title"] = "فاکتور های فروشگاه";
}
<partial name="_Notification" />
<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">فهرست فاکتور</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="/admin/product/index">
                        <i class="fas fa-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item active">فهرست فاکتور</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="body">
                <div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <a href="/admin/product/createproduct" class="btn bg-green"><i class="fa fa-plus"></i>&nbsp;ایجاد محصول</a>
                                </div>
                            </div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>جستجو:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
                        </div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-hover ">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>نام کاربر</th>
                                            <th>مبلغ فاکتور</th>
                                            <th>تاریخ </th>
                                            <th>وضعیت </th>
                                            <th>اقدامات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.EntityDto.Count > 0) {
                                            foreach (var p in Model.EntityDto) {
                                                <tr>
                                                    <td>@p.Id</td>
                                                    <td>@p.User.FName @p.User.LName</td>
                                                    <td>@p.Amount</td>
                                                    <td>@p.CreatedDate.ToPersianDate()</td>
                                                    @switch (p.OrderState) {
                                                        case OrderStateEnumDto.Processing: {
                                                                <td>در حال پردازش</td>
                                                                break;
                                                            }
                                                        case OrderStateEnumDto.Delivered: {
                                                                <td>تحویل</td>
                                                                break;
                                                            }
                                                        case OrderStateEnumDto.Canceled: {
                                                                <td>لغو</td>
                                                                break;
                                                            }
                                                    }
                                                    <td>
                                                        <button onclick="" class="btn bg-green btn-sm waves-effect">تحویل</button>
                                                        <button onclick="" class="btn bg-danger btn-sm waves-effect">لغو</button>
                                                        <a href="/Admin/Fainances/OrderDetail/@p.Id" class="btn bg-blue btn-sm waves-effect">جزئیات</a>
                                                    </td>
                                                </tr>

                                            }
                                        } else {
                                            <tr>
                                                <td colspan="6">
                                                    فاکتوری وجود ندارد
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">

                            <paging total-records="@Model.RowCount"
                                    page-no="@Model.CurrentPage"
                                    page-size="@Model.PageSize"
                                    show-prev-next="true"
                                    show-total-pages="false"
                                    show-total-records="false"
                                    show-page-size-nav="true"
                                    show-first-numbered-page="true"
                                    show-last-numbered-page="true"
                                    query-string-key-page-no="Page"
                                    query-string-key-page-size="PageSize"
                                    sr-text-next="بعدی"
                                    sr-text-previous="قبلی"
                                    gap-size="2">
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        //Remove User
        function DeleteUser(Id, title) {
            swal.fire({
                title: 'حذف نقش ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Users/RemoveUser/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Lock & Active
        function LockUser(Id, userName) {
            swal.fire({
                title: 'قفل کردن / باز کردن قفل کاربر' + ' ' + userName,
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/User/ChangeLock/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ActiveUser(Id, userName) {
            swal.fire({
                title: 'فعال کردن / غیر فعال کردن کاربر' + ' ' + userName,
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/User/ChangeActive/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //User Address
        function Createddress(userId) {
            $('#address-UserId').val(userId);
            $('#AddressModal').modal('show');
        }
        //Chnage role
        function ChangeUserRole(userId) {
            $('#changeRole-UserId').val(userId);
            $('#ChangeRoleModal').modal('show');
        }
        function EditUserRoel(Id, title) {
            swal.fire({
                title: 'تغییر نقش ',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var UserId = $('#changeRole-UserId').val();
                    var RoleId = $('#changeRole-RoleId').val();
                    var postData = {
                        'roleId': RoleId,
                        'userId': UserId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/User/ChangeRole",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Update User
        function UpdateUser(id, name, email, phone) {
            $('#edit-user-id').val(id);
            $('#edit-user-Name').val(name);
            $('#edit-user-email').val(email);
            $('#edit-user-phone').val(phone);

            $('#EditUser').modal('show');
        }
    </script>
}
@section Modals
    {
    @*Update User *@
    <div class="modal" id="EditUser" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white"> تغییر نقش <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Users/Update">
                        <input name="Id" type="hidden" id="edit-user-id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ایمیل</span>
                            <input type="email" id="edit-user-email" name="Email" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">موبایل</span>
                            <input type="text" id="edit-user-phone" name="CellPhone" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">نام و نام خانوادگی</span>
                            <input type="text" id="edit-user-Name" name="FullName" class="form-control" />
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @*Change User Role*@
    <div class="modal" id="ChangeRoleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white"> تغییر نقش <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="UserId" type="hidden" id="changeRole-UserId" />
                    <div class="input-group mb-3">
                        <label class="input-group-text bg-light">عنوان نقش</label>
                        <select name="RoleId" class="browser-default" id="changeRole-RoleId" asp-items="@ViewBag.Role">
                        </select>
                    </div>


                    <div class="row justify-content-around">
                        <a onclick="EditUserRoel()" class="btn bg-dreen "><i class="fa fa-check"></i>&nbsp;ثبت </a>
                        <button type="button" class="btn bg-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Create New Address For User*@
    <div class="modal" id="AddressModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">آدرس جدید  <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Users/AddAddress">
                        <input name="UserId" type="hidden" id="address-UserId" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light">آدرس</span>
                            <textarea name="Address" type="text" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">فعال/غیرفعال</span>
                            <select name="IsShow" class="form-select">
                                <option value="true">فعال باشد</option>
                                <option value="false">غیرفعال باشد</option>
                            </select>
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

}
