@model Ayda.Ecommerce.ShareModels.User.ApplicationUserDto
@{
    ViewData["Title"] = "جزئیات کاربر";
}
<partial name="_Notification" />
<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">پروفایل</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="/admin/home/index">
                        <i class="fas fa-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item active">پروفایل</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="m-b-20">
                <div class="contact-grid">
                    <div class="profile-header bg-dark">
                        <div class="user-name">@Model.FName @Model.LName</div>
                        <div class="name-center">@Model.Role.Name</div>
                    </div>
                    @if (string.IsNullOrWhiteSpace(Model.Avatar)) {
                        <img src="~/assets/images/user/usrbig3.jpg" class="user-img" alt="">
                    } else {
                        <img src="~/@Model.Avatar.Trim('\\')" class="user-img" alt="">
                    }

                    <p>
                        <button type="button" class="btn bg-green waves-effect" onclick="AddOrChangeAvatar('@Model.Id')">

                            <span>تعویض نگاره</span>
                            <i class="fa fa-image"></i>
                        </button>
                    </p>
                    <div>
                        <span class="phone">
                            <i class="material-icons">phone</i>
                            @if (string.IsNullOrWhiteSpace(Model.UserPhone)) {
                                <span>شماره ای ثبت نشده</span>
                            } else {
                                <span>@Model.UserPhone</span>
                            }
                        </span>
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <h5>18k</h5>
                            <small>مورد علاقه</small>
                        </div>
                        <div class="col-6">
                            <h5>565</h5>
                            <small>نظرات</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <ul class="nav nav-tabs">
                <li class="nav-item m-l-10">
                    <a class="nav-link" data-toggle="tab" href="#skills">مهارت ها</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane body" id="skills">
                    <ul class="list-unstyled">
                        <li>
                            <div>فتوشاپ</div>
                            <div class="progress skill-progress m-t-20">
                                <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>وردپرس</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-orange width-per-38" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>HTML</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-cyan width-per-39" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>آنگولار</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-purple width-per-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="profile-tab-box">
                <div class="p-l-20">
                    <ul class="nav ">
                        <li class="nav-item tab-all">
                            <a class="nav-link active show" href="#project" data-toggle="tab">درباره من</a>
                        </li>
                        <li class="nav-item tab-all p-l-20">
                            <a class="nav-link" href="#usersettings" data-toggle="tab">تنظیمات</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>درباره</h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>نام کامل</strong>
                                        <br>
                                        <p class="text-muted">حسین حیاتی</p>
                                    </div>
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>موبایل</strong>
                                        <br>
                                        <p class="text-muted">(123) 456 7890</p>
                                    </div>
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>ایمیل</strong>
                                        <br>
                                        <p class="text-muted">johndeo@example.com</p>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <strong>موقعیت</strong>
                                        <br>
                                        <p class="text-muted">ایران</p>
                                    </div>
                                </div>
                                <p class="m-t-30">من فارغ التحصیل شدم در هنر از موسسه شناخته شده و مشهور هند - 2000-01، که به دانشگاه وابسته است. من در آزمون های دانشگاهی از همان دانشگاه از سال 1996 تاکنون رتبه بندی کردم.</p>
                                <p>من فارغ التحصیل شدم در هنر از موسسه شناخته شده و مشهور هند - 2000-01، که به دانشگاه وابسته است. من در آزمون های دانشگاهی از همان دانشگاه از سال 1996 تاکنون رتبه بندی کردم </p>
                                <p>من فارغ التحصیل شدم در هنر از موسسه شناخته شده و مشهور هند - 2000-01، که به دانشگاه وابسته است. من در آزمون های دانشگاهی از همان دانشگاه از سال 1996 تاکنون رتبه بندی کردم.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>تحصیلات</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    <li>مدرک کارشناسی ارشد کامپیوتر.</li>
                                    <li>مدرک کارشناسی ارشد کامپیوتر.</li>
                                    <li>مدرک کارشناسی ارشد کامپیوتر</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>تجربه</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    <li>یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران.</li>
                                    <li>یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران.</li>
                                    <li>
                                        یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران
                                    </li>
                                    <li>
                                        یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران
                                    </li>
                                    <li>
                                        یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران
                                    </li>
                                    <li>
                                        یک سال تجربه به عنوان کارشناسی ارشد استاد از آوریل 2009 تا مارس 2010 در دانشگاه تهران
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>کنفرانس ها، دوره ها و کارگاه شرکت کردند</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است.
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است.
                                    </li>
                                    <li>
                                        لورم ایپسوم به راحتی متن ساختاری چاپ و نشر صنعت است
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="timeline" aria-expanded="false">
            </div>
            <div role="tabpanel" class="tab-pane" id="usersettings" aria-expanded="false">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>تنظیمات</strong> امنیتی
                        </h2>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="نام کاربری">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="رمزعبور فعلی">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="رمزعبور جذید">
                        </div>
                        <button class="btn btn-info btn-round">ذخیره تغییرات</button>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>تنظیمات</strong> حساب
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام اصلی">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام خانوادگی">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="شهر">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="کشور">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="4" class="form-control no-resize" placeholder="خط آدرس 1"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check m-l-10">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="checkbox" name="checkbox"> قابلیت مشاهده برای همه
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check m-l-10">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="checkbox1" name="checkbox"> اعلان های کار جدید
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check m-l-10">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="checkbox2" name="checkbox"> اعلان درخواست دوست جدید
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-round">ذخیره تغییرات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        function LockUser(Id, userName) {
            swal.fire({
                title: 'قفل کردن / باز کردن قفل کاربر' + ' ' + userName,
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/User/ChangeLock/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }

        //add or change avatar User
        function AddOrChangeAvatar(id) {
            $('#avatar-user-id').val(id);
            $('#UserAvatar').modal('show');
        }
    </script>
}
@section Modals
    {
    @*change  User avatar*@
    <div class="modal" id="UserAvatar" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white"> تغییر یا ثبت نگاره <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/User/ChangeOrAddAvatar" enctype="multipart/form-data">
                        <input name="Id" type="hidden" id="avatar-user-id" />
                        <div class="input-group mb-3 w-100">
                            <span class="input-group-text bg-light" id="basic-addon1">تصویر</span>
                            <input type="file" name="avatar" class="form-control" accept="image/*" style="width: 100%" />
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

}