@model IEnumerable<Ayda.Ecommerce.ShareModels.Menu.SubMenuDto>
@{
    ViewData["Title"] = "مدیریت زیرمنو";
}
<partial name="_Notification" />
<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">لیست  زیرمنو</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="/admin/home/index">
                        <i class="fas fa-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="/admin/category/index">@ViewData["Title"]</a>
                </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body table-responsive">
                @if (Model.Count() < 1) {
                    <p>زیر منو برای نمایش وجود ندارد</p>

                } else {
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>دسته بندی</th>
                                <th><i class="fa fa-toolbox"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model) {
                                <tr>
                                    <th scope="row">@p.Id</th>
                                    <td>
                                        @p.Title
                                    </td>
                                    <td>@p.Category.Name</td>
                                    <td>
                                        <div>
                                            <a onclick="UpdateModal('@p.Id','@p.Title','@p.CategoryId','@p.MenuItemId')" class="btn bg-cyan  waves-effect btn-sm"><i class="fa fa-edit"></i></a>
                                            <button onclick="Remove('@p.Id','@p.Title')" class="btn bg-red waves-effect btn-sm"><i class="fa fa-trash"></i></button>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        //Remove Sub Menu
        function Remove(Id, title) {
            swal.fire({
                title: 'حذف زیر منوی  ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Menu/RemoveSubMenu/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //edit submenu
        function UpdateModal(id, title, cat, parent) {
            $('#sub_id').val(id);
            $('#sub_title').val(title);
            $('#cat_id').val(cat);
            $('#parent_id').val(parent);
            $('#EditSubMenu').modal('show');
        }
    </script>
}
@section Modals
    {
    <div class="modal" id="EditSubMenu" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light-blue waves-effect">
                    <h5 class="modal-title text-white">ویرایش زیرمنو </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Menu/UpdateSubMenu">
                        <input type="hidden" id="sub_id" name="Id" />
                        <input type="hidden" id="parent_id" name="MenuItemId" />
                        <div class="form-group">
                            <label>عنوان &nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="Title" class="form-control" placeholder="عنوان منو" id="sub_title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label>دسته بندی</label>
                                <select class="browser-default" asp-items="@ViewBag.Category" name="CategoryId" id="cat_id">
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
