@model Ayda.Ecommerce.ShareModels.BaseModel.ResultDto<IEnumerable<Ayda.Ecommerce.ShareModels.Slider.BannerDto>>
@{
    ViewData["Title"] = "بنر ها";
}
<partial name="_Notification" />
<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">لیست بنر ها</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="/admin/home/index">
                        <i class="fas fa-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="/admin/category/index">@ViewData["Title"]</a>
                </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <button type="button" class="btn bg-green" onclick="CreateBannerModal()"><i class="fa fa-plus"></i>&nbsp;ایجاد بنر</button>
            </div>
            <div class="body table-responsive">
                @if (!Model.IsSuccess) {
                    <p>بنری برای نمایش وجود ندارد</p>

                } else {
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>تصویر</th>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th><i class="fa fa-toolbox"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model.Data) {
                                <tr>
                                    <th scope="row">@p.Id</th>
                                    <td>
                                        <img src="~/@p.ImagePath.Trim('\\')" class="shadow img-thumbnail img-rounded" width="110" height="78" id="Banner_image_@p.Id" />
                                    </td>
                                    <td>
                                        <a href="@p.Link" class="text-reset">@p.Title</a>
                                    </td>
                                    <td><small>@p.Description</small></td>
                                    <td>
                                        <div>
                                            <button onclick="UpdateBannerModal('@p.Id','@p.Title','@p.Link','@p.PossitionId','@p.Description')" class="btn bg-cyan  waves-effect btn-sm"><i class="fa fa-edit"></i></button>
                                            <button onclick="DeleteBanner('@p.Id','@p.Title')" class="btn bg-red waves-effect btn-sm"><i class="fa fa-trash"></i></button>
                                            <button onclick="ChangeIsShowBanner('@p.Id','@p.Title')" class="btn bg-light-green waves-effect btn-sm"><i class="fa fa-eye"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }

            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        //Add Banner
        function CreateBannerModal() {
            $('#AddBanner').modal('show');
        }
        //Remove Banner
        function DeleteBanner(parentId, title) {
            swal.fire({
                title: 'حذف بنر ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': parentId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Banner/RemoveBanner/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Chabge Is Show Banner
        function ChangeIsShowBanner(parentId, title) {
            swal.fire({
                title: 'مخفی / آشکار ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': parentId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Banner/ChangeShow/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Edit Banner
        function UpdateBannerModal(id, title, link, possition, des) {
            $('#edit_BannerId').val(id);
            $('#edit_BannerTitle').val(title);
            $('#edit_BannerLink').val(link);
            $('#edit_BannerPossition').val(possition);
            $('#edit_BannerDescription').val(des);
            $('#edit_Banner_img').attr('src', $('#Banner_image_' + id).attr('src'));
            $('#EditBanner').modal('show');
        }
    </script>
}
@section Modals
    {
    <div class="modal" id="AddBanner" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light-blue waves-effect">
                    <h5 class="modal-title text-white">ایجاد بنر جدید </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Banner/CreateBanner" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>عنوان بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="Title" class="form-control" placeholder="عنوان بنر">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label>مکان قرار گیری</label>
                                <select class="browser-default" asp-items="@ViewBag.Possition" name="PossitionId">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>لینک بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="Link" class="form-control" placeholder="لینک هدایت کننده به صفحه بنر">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>تصویر بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="file" name="Images" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <label> توضیحات</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea class="form-control" name="Description"></textarea>
                            </div>
                        </div>
                        <br> <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="EditBanner" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light-blue waves-effect">
                    <h5 class="modal-title text-white mb-3">بروزرسانی بنر جدید </h5>
                    <div class="row">
                        <div class="col-12">
                            <img src="" id="edit_Banner_img" class="form-control" style="width: 100%; height: 220px;">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Banner/UpdateBanner" enctype="multipart/form-data">
                        <input type="hidden" id="edit_BannerId" name="Id" />
                        <div class="form-group">
                            <label>عنوان بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="Title" class="form-control" placeholder="عنوان بنر" id="edit_BannerTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label>مکان قرار گیری</label>
                                <select class="browser-default" asp-items="@ViewBag.Possition" name="PossitionId" id="edit_BannerPossition">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>لینک بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="text" name="Link" class="form-control" placeholder="لینک هدایت کننده به صفحه بنر" id="edit_BannerLink">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>تصویر بنر&nbsp;<i class="text-danger">*</i></label>
                            <div class="form-line">
                                <input type="file" name="Images" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <label> توضیحات</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea class="form-control" name="Description" id="edit_BannerDescription"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">لغو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
